mixin footer()
	+b.FOOTER.footer.block-with-lazy
		+topLine('Центральный офис:<br>г.Казань, ул.Декабристов, 85','mail')
		.container
			+e.foot
				+e.polite(href="#") Политика конфиденциальности
				+e.sm Информация на&nbsp;сайте предназначена только для совершеннолетних (18+). Сайт носит исключительно информационный характер и&nbsp;ни&nbsp;при каких условиях не&nbsp;является публичной офертой, определяемой статьей 437&nbsp;ГК РФ.
