.footer {
	background-color: $body-color;
	padding-top: rem(25);
	padding-bottom: rem(30);
	color: #d6ccbc;
	margin-top: auto;

	&__polite {
		color: #d6ccbc;
		text-decoration: underline;
		display: block;
		margin-bottom: rem(10);
		&:hover {
			text-decoration: none;
		}
	}

	&__foot {
		padding-top: rem(80);
	}

	&__sm {
		font-size: 10px;
	}

	.topLine {
		border-bottom: none;

		&__logoTitle,
		&__result,
		&__call,
		&__mail,
		&__tel,
		&__phone {
			color: #d6ccbc;
		}

		&__mail {
			margin-top: rem(10);
			display: block;
		}

	}



@include media-breakpoint-up(xs) {}
@include media-breakpoint-between(md, xl) {}
@include media-breakpoint-only(xl) {}
@include media-breakpoint-down(xs) {}
}
