mixin sReviews(data)
	// start sReviews
	+b.SECTION.sReviews.section#sReviews&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Отзывы
				
			+e.slider--js.swiper-container
				.swiper-wrapper
					+e.slide.swiper-slide
						p В&nbsp;реабилитационном центре лечился мой сын. Вот уже больше двух лет он&nbsp;не&nbsp;употребляет спиртного.Огромное спасибо всем сотрудникам центра за&nbsp;помощь, за&nbsp;курс реабилитации, за&nbsp;постлечебную программу. Хочу выразить огромную благодарность за&nbsp;то, что мой сын жив и&nbsp;здоров!!!
						+e.name.text-right Елена.К.
					+e.slide.swiper-slide
						p Хочу выразить слова благодарности службе Стопзависимость за&nbsp;оперативность и&nbsp;честность. Помогли определиться с&nbsp;реабилитационным центром, были большие сомнения, развеяли и&nbsp;в&nbsp;результате брата положили в&nbsp;центр с&nbsp;максимальной результативностью. Лечение проходил в&nbsp;г. Казань, долго, но&nbsp;скаждой неделей мы&nbsp;общаясь с&nbsp;ним чувствовали прогресс. Уже пол года брат не&nbsp;пьет, устроился на&nbsp;работу, строит отношения с&nbsp;женщиной. Теперь это совсем другой человек. Спасибо Вам за&nbsp;правильный выбор, спасибо за&nbsp;службу!!!!
						+e.name Анонимно
					+e.slide.swiper-slide
						p &laquo;Благодарен специалистам за&nbsp;оказанную помощь! Они спасли мою жизнь и&nbsp;дали возможность жить мне и&nbsp;моим близким. Это неоценимая помощь помогла мне и&nbsp;помогает многим, не&nbsp;смотря ни&nbsp;на&nbsp;какие сложности. Раньше если&nbsp;бы мне сказали, что есть выбор, я&nbsp;бы не&nbsp;поверил, но&nbsp;он&nbsp;есть и&nbsp;это работает. Главное не&nbsp;бояться, а&nbsp;просто позвонить, тут знают, что делать и&nbsp;как поступить в&nbsp;казалось&nbsp;бы безвыходной ситуации. Спасибо Вам!&raquo;
						+e.name Владимир Титов

	// end sReviews