// start .headerBlock
.headerBlock {
	--sPT: #{rem(110)};
	--sPB: #{rem(110)};
	--sTPB: #{rem(15)};

	position: relative;
	// overflow: hidden;
	min-height: rem(405);
	@include media-breakpoint-up(lg) {
		min-height: rem(505);
	}

	&__btn {
		@extend .btn;
		@extend .btn-primary;
	}

	ul {
		margin-bottom: rem(30);
	}

	li {
		list-style: none;
		position: relative;
		font-size: $h5-font-size;
		color: $light;
		padding-left: rem(47);
		padding-bottom: rem(10);
		@include media-breakpoint-down(md) {
			max-width: rem(250);
		}

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: rem(12);
			@include size(30px 3px);
			background-color: $primary;
		}
	}

	&__smTxt {
		max-width: rem(825);
	}

	.section-title--bottobLine {
		padding-bottom: calc(var(--sTPB) * 1.9);
		position: relative;
		&::after {
			content: '';
			position: absolute;
			bottom: rem(25);
			left: 0;
			background-color: $primary;
			@include size(37px 4px);
		}
	}


	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xs) {}

	&_txtXsm {
		.headerBlock__smTxt {
			max-width: rem(630);
		}
	}

}

// end.headerBlock