mixin headerBlock(data)
	// start headerBlock
	+b.SECTION.headerBlock.section#headerBlock&attributes(attributes)
		if data
			+pic(data.img,'bg','')(class="picture-bg")
		else
			+pic('headerBg-1','bg','')(class="picture-bg")
		.container
			if data
				+b.section-title--bottobLine
					h1!= data.title
				+e.P.smTxt!= data.text
			else
				+b.section-title
					h1 СтопЗависимость
					h3 Центр по подбору лечения зависимостей
				ul
					li Индивидуальный подход к лечению!
				+e.btn.link-modal(href="#modal-call") Быстрая консультация по зависимостям


						
	// end headerBlock