// start .headerBlock
.headerBlock {
	--sPT: #{rem(110)};
	--sPB: #{rem(110)};
	--sTPB: #{rem(15)};

	position: relative;
	// overflow: hidden;
	min-height: rem(605);

	&__btn {
		@extend .btn;
		@extend .btn-primary;
	}

	ul {
		margin-bottom: rem(30);
	}

	li {
		list-style: none;
		position: relative;
		font-size: $h5-font-size;
		color: $light;
		padding-left: rem(47);
		padding-bottom: rem(10);

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: rem(12);
			@include size(30px 3px);
			background-color: $primary;
		}
	}



	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

}

// end.headerBlock