mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			+e.text
				p Мы&nbsp;ищем лучшие клиники из&nbsp;многих, чтобы предложить нашим клиентам наиболее оптимальный курс лечения. Дело в&nbsp;том, что только лечение в реабилитационном центре может дать долговременный результат. Столь популярное в&nbsp;прошлом кодирование является, по&nbsp;сути, принуждением, которое не&nbsp;гарантирует стабильность после окончания срока действия. Визит к&nbsp;психологу успешен только при комплексном лечении.<br> Только лечение в&nbsp;стационарном реабилитационном центре позволяет радикально изменить окружение и&nbsp;образ жизни зависимого человека.
			+b.section-title.text-center
				h2 Алгоритм работы
				
			+e.list
				ol
					li Оставляете заявку на&nbsp;сайте или звоните по&nbsp;телефону #[a(href="tel:88003334108") 8 800 333 41 08.]
					li Первичная консультация, в&nbsp;ходе которой мы&nbsp;вместе выясняем вид зависимости, физические особенности будущего пациента и&nbsp;другие важные детали.
					li Предлагаем несколько вариантов лечения, из&nbsp;которых вместе мы&nbsp;сможем выбрать самый подходящий.
					li Связываем Вас с&nbsp;руководителем выбранного центра.
					li Назначаем время начала лечения или время интервенции (в&nbsp;случае, если пациент сопротивляется добровольному лечению).
					li Начало реабилитации в&nbsp;выбранном центре.
					li Лечение окончено! На&nbsp;этом этапе&nbsp;Вы можете выразить нам благодарность и&nbsp;оставить отзыв о&nbsp;нашей работе.
			+callForm()
	// end sAbout

mixin sAbout-03(data)
	// start sAbout
	+b.SECTION.sAbout--partnership.section#sAbout&attributes(attributes)
		.container
			+e.text
				p Мы&nbsp;предлагаем центрам, деятельность которых направлена на&nbsp;результативное лечение зависимости непрерывный поток пациентов. У&nbsp;нас достаточно много обращений, которые мы&nbsp;перенаправляем своим партнерам.
			+b.section-title.text-center
				h2 Как начать партнерство
				
			+e.list
				ol
					li Для начала сотрудничества мы&nbsp;проводим ревизию центра, чтобы убедиться в&nbsp;соответствии действительного положения вещей заявленным декларациям.
					li По&nbsp;результатам ревизии выдаем сертификат, который показывает, что центр действительно проводит эффективное лечение пациентов.
					li Направляем к&nbsp;вам будущих пациентов по&nbsp;нашей рекомендации. Вам остается только заключить договор и&nbsp;приступить к&nbsp;лечению.

				+form-wrap(class="callForm")
					+e.main
						+input('','tel')
						+e.btn(type="submit") Оставить заявку
			+call
	// end sAbout

mixin sAbout-04(data)
	// start sAbout
	+b.SECTION.sAbout--relatives.section#sAbout&attributes(attributes)
		.container
			+e.text
				p Желание близких помочь зависимому человеку естественно и&nbsp;заслуживает только положительной оценки. Но&nbsp;в&nbsp;контексте ситуации, родственникам сложно принимать взвешенные решения. И&nbsp;самым разумным выходом будет обратиться за&nbsp;помощью к&nbsp;специалистам. Мы&nbsp;много раз приходили на помощь в&nbsp;таких нелегких ситуациях и&nbsp;точно знаем, как помочь. Дело в&nbsp;том, что помощь нужна не&nbsp;только будущему пациенту, но&nbsp;и&nbsp;его окружению. Часто возникает такое явление как созависимость, которая разрушает жизнь не&nbsp;только самому зависимому, но&nbsp;и&nbsp;окружающим.
				p Любой случай зависимости и&nbsp;созависимости уникален. Как писал Л.&nbsp;Толстой&nbsp;&mdash; каждая несчастливая семья несчастлива по-своему. Мы&nbsp;учитываем эти особенности и&nbsp;находим подход в&nbsp;любой, даже самой запущенной ситуации.
				p Поэтому, не&nbsp;откладывайте обращение &laquo;на&nbsp;потом&raquo;. Обращайтесь прямо сейчас по&nbsp;телефону или закажите обратный звонок&nbsp;&mdash; нажимайте на&nbsp;кнопку.
				+callForm()
			+b.section-title.text-center
				h2 Когда зависимый не хочет лечиться
				
			+e.list
				+e.imgWrap
					+pic('relativesImg','','')
				p В&nbsp;этих случаях проводится интервенция&nbsp;&mdash; заранее спланированное мероприятие по&nbsp;убеждению зависимого приступить к&nbsp;лечению. Хотя во&nbsp;время интервенции проводится психологическое давление, сама процедура безопасна. В&nbsp;основном, это убеждение зависимого человека добровольно согласиться на&nbsp;лечение.<br> Интервенция достаточно эффективна, как правило, будущий пациент рано или поздно осознает необходимость лечения. Однако, она должна проводиться только квалифицированным специалистом. В&nbsp;противном случае, возможен обратный эффект&nbsp;&mdash; зависимый человек еще сильнее сопротивляется и&nbsp;уходит в&nbsp;глухую оборону.

	// end sAbout