extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sUrgentServices/_sUrgentServices.pug
include ../blocks/sWhoApplying/_sWhoApplying.pug
include ../blocks/sHelp/_sHelp.pug
include ../blocks/sWeGive/_sWeGive.pug
include ../blocks/sNeedKnow/_sNeedKnow.pug
include ../blocks/sReviews/_sReviews.pug
include ../blocks/sMap/_sMap.pug
include ../blocks/sAbout/_sAbout.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Контакты'
	title= title
block pagecontent

	+header()
		+topLine('Работаем по всей России')
		+top-nav()
	+headerBlock({
		img: 'headerBg-5',
		title: title,
		text: `<i>"Каждую частицу своего опыта я превращаю в возможность"</i><br> Основатель <i>"СтопЗависимость"</i>`
	})
	+sContact()
	//- +sUrgentServices()
	//- +sWhoApplying()
	//- +sHelp()
	+sWeGive-05()
	//- +sNeedKnow()
	//- +sForm()
	//- +sReviews()
	+sMap
	+footer()


	