extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sUrgentServices/_sUrgentServices.pug
include ../blocks/sWhoApplying/_sWhoApplying.pug
include ../blocks/sHelp/_sHelp.pug
include ../blocks/sWeGive/_sWeGive.pug
include ../blocks/sNeedKnow/_sNeedKnow.pug
include ../blocks/sReviews/_sReviews.pug
include ../blocks/sMap/_sMap.pug
include ../blocks/sAbout/_sAbout.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'О нас'
	title= title
block pagecontent

	+header()
		+topLine('Работаем по всей России')
		+top-nav()
	+headerBlock({
		img: 'headerBg-6',
		title: title,
		text: `Услуги, которые мы&nbsp;предоставляем, уникальны&nbsp;&mdash; мы&nbsp;отталкиваемся от&nbsp;проблем и&nbsp;желаний клиентов. В&nbsp;отличие от&nbsp;других центров, мы&nbsp;не&nbsp;ограничены одним методом и&nbsp;даже одной клиникой. В&nbsp;нашем портфеле десятки партнеров в&nbsp;регионах России и&nbsp;за&nbsp;рубежом.`
	}).headerBlock_txtXsm
	+sContent()
	//- +sUrgentServices()
	//- +sWhoApplying()
	//- +sHelp()
	//- +sWeGive()
	//- +sNeedKnow()
	//- +sForm()
	//- +sReviews()
	+sMap
	+footer()


	