mixin sContent()
	// start sContent
	+b.SECTION.sContent.section#sContent&attributes(attributes)
		.container
			+e.text
				p СтопЗависимость&nbsp;&mdash; профессиональный центр, созданный специально для подбора наиболее подходящих методов лечения всех видов зависимостей. Центр был создан, чтобы решить важную проблему в&nbsp;организации лечения зависимостей&nbsp;&mdash; узкий подход к&nbsp;лечению.
				p Традиционно, с&nbsp;зависимостями боролись исходя из&nbsp;возможностей клиники, куда обратился пациент, без учета индивидуальных особенностей и&nbsp;контекста конкретной ситуации.<br> Мы&nbsp;предлагаем принципиально новый подход к&nbsp;лечению зависимостей. Подход &laquo;от&nbsp;пациента&raquo;. Это значит, что при выборе лечения, прежде всего мы&nbsp;исходим из&nbsp;индивидуальных особенностей человека и&nbsp;каждой конкретной ситуации. Такой комплексный подход показывает свою эффективность на&nbsp;практике&nbsp;&mdash; лечение дает свои плоды.
			+b.section-title.text-center
				h2 Преимущества центра СтопЗависимость
			+e.cards
				.row
					mixin item(t)
						.col-sm-6.col-lg-3
							+e.item.text-center
								+e.iconWrap
									+icon('check')
								p!= t
					+item('Все регионы РФ')
					+item(`Выбор лучшего центра из&nbsp;возможных`)
					+item(`Подбор лечения, подходящего именно в&nbsp;Вашей ситуации`)
					+item(`Оперативное вмешательство и&nbsp;срочный визит врача в течение 2-х часов после заявки`)
			+b.section-title--pbSm.text-center
				h2 Обращение основателя центра
			.row
				.col-3.col-sm-2
					+e.imgWrap
						+pic('relativesImg','','')
				.col
					p Когда я&nbsp;только начинал работать с&nbsp;зависимыми, я&nbsp;понял самое главное: ни&nbsp;один реабилитационный центр не&nbsp;рассказывает о&nbsp;своих минусах. Родилась идея создать службу по&nbsp;ревизии реабилитационных центров. Люди, при оплате этих недешевых услуг, должны быть уверены в&nbsp;профессионализме специалистов и&nbsp;в&nbsp;эффективности программы лечения. Даже в&nbsp;дорогом центре, с&nbsp;самыми отличными условиями проживания, если курс реабилитации для пациента прописан не&nbsp;правильно&nbsp;&mdash; результата не&nbsp;будет!<br> Поэтому я&nbsp;решил приезжать в&nbsp;реабилитационные центры, жить там несколько дней и&nbsp;смотреть на&nbsp;весь процесс &laquo;изнутри&raquo;. Для меня было важно изучать поведения пациентов и&nbsp;определить, обеспечивает центр результат или нет. На&nbsp;основе поездок была создана база профессиональных реабилитационных центров, чтобы&nbsp;Вы были спокойны и&nbsp;уверены при выборе лечебного учреждения.
					p Мы&nbsp;понимаем, что условия проживания, питание, отдаленность от&nbsp;дома очень важны для Вас, но&nbsp;РЕЗУЛЬТАТ важен в&nbsp;первую очередь, правда?<br> Мы&nbsp;поможем Вам сделать правильный выбор!
			+callForm()

	// end sContent