.navMenu{
	@include media-breakpoint-up(lg) {
		display: flex;
		justify-content: space-between;
		@include roww(20px);
	}
	list-style: none;
	position: relative;
	margin-bottom: 0;
	max-width: 100%;
	flex-wrap: wrap;

	a{
		display: block;
		text-align: center;
		padding: rem(14) rem(0) rem(10);
		color: $light;

		&:hover {
			color: $primary;
		}
	}

	li {
		position: relative;

		@include media-breakpoint-up(lg) {

			&:not(:last-child) {
				&::after {
					background-color: #ede5ce;
					content: '';
					position: absolute;
					right: rem(-10);
					@include media-breakpoint-up(xl) {
						right: rem(-30);
					}
					@include a-cent(y);
					width: 1px;
					@include size(1px 17px);
				}
			}

			&:hover {
				.sub-menu {
					// height: auto;
					opacity: 1;
					transform: translateX(-50%);
				}
			}
		}
	}

	.sub-menu {

		list-style: none;
		font-size: rem(16);
		@include mt;
		@include media-breakpoint-up(lg) {
			
			position: absolute;
			left: 50%;
			right: auto;
			transform: scale(0);
			padding: 20px 10px;
			background-color: #fff;
			top: 100%;
			border-radius: 10px;
			// height: 0;
			opacity: 0;
			min-width: 250px;
			box-shadow: 0 5px 5px 5px #CCCCCC;
		}

		li {

			&::after {
				display: none !important;
			}
		}

		a {
			color: $body-color;

			&:hover {
				color: $primary;
			}
		}
	}
}