.navMenu{
	display: flex;
	justify-content: space-between;
	list-style: none;
	@include roww(20px);
	position: relative;
	margin-bottom: 0;
	max-width: 100%;
	flex-wrap: wrap;
	&__link{
		display: block;
		text-align: center;
		padding: rem(14) rem(0) rem(10);
		color: $light;

		&:hover {
			color: $primary;
		}


	}

	&__item {
		position: relative;

		&:not(:last-child) {
			&::after {
				background-color: #ede5ce;
				content: '';
				position: absolute;
				right: -10%;
				@include a-cent(y);
				width: 1px;
				@include size(1px 17px);
			}
		}
	}
}