 
	  
.soc{
	margin: 0 rem(-10px);
	display: flex;
	&__item{
		text-decoration: none !important;
		margin: 0 rem(10px);
		vertical-align: middle;
		@include mt;
		display: block;
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			opacity: .6 ;
		}
		
	}
	.icon{
	font-size: rem(30);
	}
	 

}
 

.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

.callBock {
	&__tel {
		color: $body-color;
		font-size: $h3-font-size;
		@include media-breakpoint-up(sm) {
			font-size: $h1-font-size;
		}
		line-height: 1.15;
	}
}

.callForm {
	@include media-breakpoint-up(sm) {
		padding-top: rem(30);
	}
	.form-wrap__main{
		display: flex;
		align-items: center;
		justify-content: center;
		@include media-breakpoint-down(sm) {
			flex-direction: column;
		}
		max-width: rem(670);
		margin-left: auto;
		margin-right: auto;
		margin-bottom: rem(15);
	}

	.form-group {
		@include media-breakpoint-up(xl) {
			width: 100%;
			max-width: rem(272px);
		}
		@include media-breakpoint-up(sm) {
			margin-left: rem(15);
			margin-right: rem(15);
		}
		@include media-breakpoint-down(sm) {
			margin-bottom: rem(15);
			width: 100%;
		}
	}

	.form-wrap__btn {
		@extend .btn;
		@extend .btn-primary;
		@include media-breakpoint-up(xl) {
			padding-left: rem(37);
			padding-right: rem(37);
		}
		@include media-breakpoint-down(sm) {
			width: 100%;
		}
	}
}

