mixin sHelp(data)
	// start sHelp
	+b.SECTION.sHelp.section#sHelp&attributes(attributes)
		+pic('help-bg','bg','')(class="picture-bg")
		.container
				
			.row
				.col-md-7.offset-md-4
					+b.section-title
						h2 Как мы помогаем 
					p Услуги центра СтопЗависимость уникальны в своем роде.
					p Для каждого обратившегося к&nbsp;нам человека мы&nbsp;подбираем<br> лучший #[strong профессиональный реабилитационный центр,] проводим консультации и определяем план лечения.
					p Мы&nbsp;не&nbsp;ограничены в&nbsp;выборе какой-либо одной клиникой, центром или регионом, поэтому предлагаем самый #[strong подходящий Вам] из&nbsp;имеющихся вариантов.
					+e.btn(href="#") Заказать звонок
	// end sHelp