mixin sMap(data)
	// start sMap
	+b.sMap.section#sMap&attributes(attributes)
		+pic('map','','')
		// <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ae431e4855d26c9dbab0adea0e83dbafffd99d8541ebe1afd15b9e2f7d6bca3d5&amp;source=constructor" width="100%" height="525" frameborder="0"></iframe>
	// end sMap